body{
    margin:0;
    background:#0B0B0B;
    color:white;
    font-family:'Inter',sans-serif;
}


.ornamento {
    position: absolute;
    top: 50%;
    width: 350px;
    height: 900px;
    transform: translateY(-50%);
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}


.esquerda {
    left: -200px;
}


.direita {
    right: -200px;
}



.hall-fama h1,
.hall-fama .subtitulo-hall,
.grid-hall {
    position: relative;
    z-index: 2;
}

.hall-fama{
    max-width:1300px;
    margin:auto;
    padding:100px 30px;
    text-align:center;
    position: relative;
    overflow: visible;
    
}




.hall-fama h1{
    font-family:'Cinzel',serif;
    font-size:3.8rem;
    color:#D4AF37;
    letter-spacing:6px;
    margin-bottom:20px;

}

.subtitulo-hall{
    max-width:850px;
    margin:auto;
    color:#cfcfcf;
    line-height:1.8;
    font-size:1.05rem;
    margin-bottom:70px;

}



.grid-hall{
   display: flex;
    flex-direction: column;
    gap: 400px;

}



.card-hall{
   position: relative;
    background:linear-gradient(180deg,#1B1B1B,#111111);
    border:2px solid #D4AF37;
    border-radius:20px;
    padding:35px 25px;
    transition:.35s;

}

.card-hall:hover{
    transform:translateY(-8px);
    border-color:#FFD700;
    box-shadow:0 0 25px rgba(212,175,55,.35);

}


.foto-hall{
    width:200px;
    height:170px;
    border-radius:60%;
    object-fit:cover;
    border:4px solid #D4AF37;
    margin-bottom:25px;

}


.card-hall h3{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:1.7rem;
    margin-bottom:12px;

}


.bandeira-hall{
    width:28px;
    height:20px;
    object-fit:cover;
    border-radius:3px;

}


.modalidade-hall{
    display:inline-block;
    padding:8px 18px;
    margin-bottom:22px;
    border:1px solid #D4AF37;
    border-radius:30px;
    color:#D4AF37;
    font-weight:600;
    font-size:.9rem;

}



.card-hall p{
    color:#cfcfcf;
    line-height:1.8;
    min-height:120px;

}



.linha-hall{
    width:80%;
    height:1px;
    background:#D4AF37;
    margin:30px auto 20px;

}



.texto-assinado{
    display:block;
    color:#A8A8A8;
    font-size:.95rem;
    margin-bottom:8px;

}

.assinatura{

    font-family:'Great Vibes',cursive;

    font-size:2.6rem;

    color:#D4AF37;

}


@media(max-width:768px){

    .hall-fama h1{

        font-size:2.8rem;

        letter-spacing:3px;

    }

    .foto-hall{

        width:140px;

        height:140px;

    }

}